*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  column-gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 16px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px; /* в соотвествии с макетом */
  border: none;
}

.search-form__fieldset:last-child {
  margin-right: 0; /* Убираем отступ у последнего элемента */
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative; /* Для отображения прелоадеров */
  height: 298px;
  width: 399px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative; /* Для абсолютного позиционирования видео внутри контейнера */
}

.result__video {
  width: 100%; /* Заставляем видео занимать всю ширину контейнера */
  height: 100%; /* Заставляем видео занимать всю высоту контейнера */
  object-fit: cover; /* Масштабирует видео, чтобы оно занимало контейнер, сохраняя пропорции */
  top: 0;
  left: 0;
}

.content__list-item {
  margin-bottom: 30px; /* Отступ между элементами списка */
}

.content__list-item:last-child {
  margin-bottom: 0; /* Убираем отступ у последнего элемента */
}

.content__video-card {
  display: flex;
  justify-self: center;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;  
}

.content__video-card-description-container {
  width: 100%;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.content__card-link {
  display: block; /* для того чтобы применить фон для карточки */
  margin: 2px;
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  /* присмотрись к линиям */
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  /* flex-direction: row; не работает */
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px; /* край обводки */
}

.search-form__textfield {
  font-family: inherit;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  appearance: none;
  width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  height: 34px;
}

/* cостояние при наведении */
button:hover {
  text-decoration: underline #fff;
}

/* cостояние при нажатии */
button:active {
  background: #545050;
}

/* cостояние при видимом фокусе */
button:focus-visible {
  appearance: none;
  outline: none;
  border: none;
  border: double #fff; /* нашел двойную границу, которая перезаписывает старую */
}

/* сброс фокуса */
button:focus {
  outline: none; /* сбрасываем стандартную обводку при фокусе */
}

.search-form__submit-button {
  margin-top: 15px;
  width: 194px;
  align-self: flex-end;
  justify-content: center;
  align-self: center;
}

.more-button {
  width: 399px;
  justify-content: center;
  align-self: center;
}

/* псевдоэлемент для первого соседа зажатого чекбокса */
/*
  1) input[type="checkbox"]:checked — селектор, который выбирает зажатый чекбокс
  2) + .search-form__pseudo-checkbox — соседний элемент
  3) ::before — создаёт псевдоэлемент перед содержимым этого соседнего элемента.
*/
input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 1px; /* выравнивание по центру обводки */
}

/* cтиль при наведении на весь лейбл */
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}
